@model aplicacionraiz2022postgress.Models.Contacto

@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<body class="fondo">
    <div class="content">
        <h2 class="logo">Contacto</h2>
        <br>
        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <form asp-controller="Contacto" asp-action="Index">
                    <p>
                        <label asp-for="name" class="form-label">Nombre</label>
                        <input asp-for="name" id="name" class="form-control form-control-sm" type="text"
                        placeholder="Escribe un Nombre" aria-label=".form-control-sm" id="myText" />
                    </p>
                    <p>
                        <label asp-for="email" class="control-label">Correo</label>
                        <input asp-for="email" type="email" class="form-control" placeholder="Escribe tu Correo"
                        id="myText" />
                    </p>
                    <p>
                        <label asp-for="numero" class="control-label">Numero</label>
                        <input type="number" asp-for="numero" class="form-control" Placeholder="Escribe tu Numero"
                        id="myText" />
                    </p>
                    <p>
                        <label asp-for="subject" class="control-label">Asunto</label>
                        <input asp-for="subject" class="form-control" Placeholder="Escribe tu Asunto" id="myText" />
                    </p>
                    <p class="block">
                        <label asp-for="comment" class="control-label">Comentario</label>
                        <input asp-for="comment" class="form-control" Placeholder="Escribe tu Comentario" />
                    </p>
                    <div class="block">
                        <button type="submit" class="btn btn-primary" id="start_button">Enviar</button>
                    </div>                        
                </form>
                <br>
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Regresar al inicio</a>
                </div>
            </div>
        </div>
        <br>
        <h1 class="logo">@ViewData["Message"]</h1>
    </div>
</body>
