@{
    ViewData["Title"] = "Home Page";
}
</div>
    <img class="img-responsive" src="/images/ordoñez.png" alt="/images/31.png"  style="max-width: 100%; height: auto;margin:0"/>
<br>
<br>







</div>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

